input, input, select, .input {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    padding: .75rem;
    background: var(--bg-1);
    color: var(--text-1);
    border: 1px solid var(--border-input);
    border-radius: .5rem;
    text-overflow: ellipsis;
    /* font-size: .8rem; */
    transition: border .2s ease-out;
}
input:focus, select:focus, .input:focus {
    outline: 1px solid var(--accent);
    border-color: var(--accent) !important;
}
input:hover, select:hover, .input:hover {
    border-color: var(--border-input-hvr);
    transition: border .2s ease-out;
}

.input-btn-row {
    display: flex;
    align-items: center;
    gap: .5rem;

    img {
        opacity: .6;
        transition: opacity .2s ease;
    }
}
.input-btn-row img:hover {
    opacity: 1;
    transition: opacity .2s ease;
}

select { cursor: pointer; }

.input-row {
    width: 100%;
    display: flex;
    align-items: start;
    gap: .75rem;
}

.input-w-label {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .25rem;
}

.checkbox { max-width: fit-content; }

/* Chrome, Safari, Edge, Opera (webkit) */
::-webkit-calendar-picker-indicator {
    filter: var(--filter-icon);
    opacity: .75;
}