.account-form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5rem;

    .input-w-label {
        flex: 1;
        input, select { width: 100%; }
    }
    .inputs-ctnr {
        display: flex;
        align-items: center;
        flex-flow: wrap;
        gap: .75rem;
    }
    label {
        text-transform: uppercase;
        font-size: .75rem;
        color: var(--text-3);
    }

    .btn-row {
        display: flex;
        align-items: center;
        gap: .5rem;
    }
}