.Account {
    /* Main Widget */
    .card-details-head {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid var(--border-1);
    }

    .head-left {
        display: flex;
        align-items: center;
        gap: 1rem;

        img { width: 6rem; }
    }
    .head-right {
        text-align: right;
    }

    .annual-fee {
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--accent);
        color: #fff;
        border-radius: 1rem;
    }

    .card-text {
        display: flex;
        flex-direction: column;
        align-items: start;

        .card-name { font-size: 1.25rem; }
        .card-type { color: var(--text-3); }
    }

    .acc-info-ctnr {
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: space-between;
    }

    .acc-info {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    /* Statistics widget */
    .stat-row {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0;
        border-bottom: 1px solid var(--border-1);
    }
    .stat-row:first-child { padding-top: 0; }
    
    .stat {
        color: var(--accent);
        font-weight: 600;
    }
}