.accounts-widget {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    width: 100%;
    background: var(--bg-primary);
    border: 1px solid var(--border-primary);
    border-radius: .5rem;
    padding: 1rem;

    .widget-head {
        display: flex;
        align-items: center;
        gap: .75rem;

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            background: none;
            border: none;

            img { width: 1.25rem; }
        }
    }
}

.accounts-ctnr {
    display: flex;
    flex-flow: wrap;
    gap: 1rem;
}

.account-card {
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid var(--border-primary);
    border-radius: .5rem;
    padding: .5rem 1rem;
    cursor: pointer;

    img { width: 6rem; }
    .provider {
        text-transform: uppercase;
        color: var(--text-4);
    }
    .name {
        font-size: 1.25rem;
    }
}

.card-text {
    text-align: left;
}