@import url('/src/stylesheets/general/Widgets.css');
@import url('/src/stylesheets/general/Forms.css');
@import url('/src/stylesheets/general/Buttons.css');
@import url('/src/stylesheets/general/ColorVars.css');
@import url('/src/stylesheets/general/Toast.css');

html, body, #root { height: 100%; }

#root {
    margin: 0 auto;
    text-align: center;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    background: var(--bg-1);
    color: var(--text-1);
    box-sizing: border-box;
}

.layout-wrapper { 
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    background: var(--bg-2);
    padding: 2rem 1rem;
}

.app-ctnr {
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.page-ctnr {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

.page-header {
    margin-bottom: 1rem;
    text-align: left;
}

.icon-dynamic { filter: var(--filter-icon); }

.p-2 { color: var(--text-2); }
.p-3 { color: var(--text-3); }
.p-4 { color: var(--text-4); }
.p-5 { color: var(--text-5); }

.p-action {
    font-style: italic;
    cursor: pointer;
}
.p-action:hover { font-weight: 600; }


/* Loading spinner */
.loading-ctnr {
    display: flex;
    align-items: center;
    gap: .5rem;

    p { color: var(--text-3); }
}
.loading-spinner {
    width: 20px;
    height: 20px;
    border: 3px solid var(--border-spinner);
    border-top: 3px solid var(--border-spinner-top);
    border-radius: 50%;
    animation: spin 0.6s linear infinite;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}