:root {
    --bg-primary: #fff;
    --bg-2: rgb(235, 235, 235);

    --text-primary: #111;

    --border-primary: rgb(235, 235, 235);

    --accent: #1fa846;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    background: var(--bg-primary);
    color: var(--text-primary);
    box-sizing: border-box;
}

.app-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}