.nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid var(--border-primary);

    .main-row, .secondary-row {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .nav-ctnr {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 1280px;
    }
    
    /* MAIN ROW */
    .main-row {
        padding: 1rem 0;
        border-bottom: 1px solid var(--border-primary);

        .nav-ctnr { justify-content: space-between; }
    }

    .header {
        display: flex;
        align-items: center;
        gap: .75rem;
        cursor: pointer;

        img {
            width: 1.75rem;
            filter: invert(62%) sepia(90%) saturate(400%) hue-rotate(90deg);
        }
        p {
            font-size: 1.35rem;
            font-weight: 600;
        }
    }

    .menu-ctnr {
        position: relative;

    }
    
    .menu-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        border: none;
        cursor: pointer;

        img { width: 1.25rem; }
    }

    .menu-dropdown {
        position: absolute;
        top: 2rem;
        right: 0;
        min-width: 10rem;
        background: var(--bg-primary);
        border: 1px solid var(--border-primary);
        border-radius: .25rem;
        box-shadow: var(--shadow-select);
        display: flex;
        flex-direction: column;

        button {
            display: flex;
            background: none;
            border: none;
            border-bottom: 1px solid var(--border-primary);
            padding: .5rem 1rem;
            cursor: pointer;
        }
        button:hover { background: var(--bg-4); }

        button:last-child { border: none; }
    }
    

    /* SECONDARY ROW */
    /* .secondary-row {
        
    } */

    .account-btn {
        position: relative;
        display: flex;
        align-items: center;
        gap: 1rem;
        background: none;
        border: none;
        padding: 1rem;
        border-left: 1px solid var(--border-primary);
        border-right: 1px solid var(--border-primary);
        cursor: pointer;

        img { width: 1rem; }
    }
    .account-btn:hover { background: var(--bg-4); }

    .account-dropdown {
        position: absolute;
        top: 7.1rem;
        background: var(--bg-primary);
        border: 1px solid var(--border-primary);
        display: flex;
        flex-direction: column;
        box-shadow: 0 .25rem .5rem var(--shadow-1);

        button {
            display: flex;
            background: none;
            border: none;
            border-bottom: 1px solid var(--border-primary);
            padding: 1rem;
            cursor: pointer;
        }
        button:hover { background: var(--bg-4); }
        button:last-child { border: none; }
    }

    .card-option {
        display: flex;
        align-items: center;
        gap: 1rem;

        img {
            width: 2rem;
        }
    }

    .account-directory {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        padding: 0 1rem;

        button {
            background: none;
            border: none;
            cursor: pointer;
            transition: all .2s ease-in-out;
        }
        button:hover {
            color: var(--accent-dark);
            transition: all .2s ease-in-out;
        }
    }

    .active-btn {
        color: var(--accent);
    }
}